# Pacotes necessários:

### Verificar se a máquina possui os pacotes necessários para rodar o programa.

In [19]:
# Esta função encerra o programa.
def fatal_error():
    input('O programa encontrou um erro fatal e não pode continuar. Pressione uma tecla para encerrar o programa: ')
    quit()
    
# Dicionário com os pacotes para baixar.

packages_install_names = {
    'pandas' : 'pandas',
    'numpy' : 'numpy',
    'os' : 'os',
    'sys' : 'sys',
    'matplotlib.pyplot' : 'matplotlib',
    'seaborn' : 'seaborn',
    'statsmodels' : 'statsmodels',
    'scipy' : 'scipy',
    'pypfopt': 'PyPortfolioOpt',
    'functools' : 'functools'    
}

### Função para checar os pacotes

In [20]:
# Verificando se importlib está instalado

try: import importlib
except: fatal_error

# Esta função verifica os pacotes necessários.

def check_packages(packages):
    for package in packages:
        try: importlib.import_module(package)
        except: print(f'Erro: O pacote {packages[package]} não está instalado. Tente instalá-lo utilizando o comando pip3 install {package} ')
        else: print(f'Sucesso ao importar o pacote {package}.')
        
# Agora, verificamos se algum pacote possui erro:

check_packages(packages_install_names)

Sucesso ao importar o pacote pandas.
Sucesso ao importar o pacote numpy.
Sucesso ao importar o pacote os.
Sucesso ao importar o pacote sys.
Sucesso ao importar o pacote matplotlib.pyplot.
Sucesso ao importar o pacote seaborn.
Sucesso ao importar o pacote statsmodels.
Sucesso ao importar o pacote scipy.
Sucesso ao importar o pacote pypfopt.
Sucesso ao importar o pacote functools.

# Importando os pacotes
### Primeiro definimos os pacotes e os seus aliases.

In [21]:
# Dict de pacotes: 

packages_import_names = {
    'pandas' : 'pd',
    'numpy' : 'np',
    'os' : 'os',
    'sys' : 'sys',
    'matplotlib.pyplot' : 'plt',
    'seaborn' : 'sns',
    'statsmodels' : 'sm',
    'scipy.linalg' : 'ln',
    'pypfopt': 'pypfopt',
    'functools' : 'functools'    
}

# Função para importar os pacotes:

def import_packs(packages):
    for package, alias in packages.items():
        globals()[alias] = importlib.import_module(package)
        print(f'Sucesso ao importar {package} as {alias}.')
        
        
# Loop para os imports:

import_packs(packages_import_names)

Sucesso ao importar pandas as pd.
Sucesso ao importar numpy as np.
Sucesso ao importar os as os.
Sucesso ao importar sys as sys.
Sucesso ao importar matplotlib.pyplot as plt.
Sucesso ao importar seaborn as sns.
Sucesso ao importar statsmodels as sm.
Sucesso ao importar scipy.linalg as ln.
Sucesso ao importar pypfopt as pypfopt.
Sucesso ao importar functools as functools.

In [11]:
from Data import cadastro, inv1, inv2

inv1

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,id0027243,$334.62,Conservador,1406.60,5314.55,3166.72,22356.01,4993.03,NaN,508.21,NaN,81.009106
19996,id0027322,$281.18,Agressivo,857.37,6045.98,3052.01,11084.71,4678.42,NaN,506.94,48.641983,NaN
19997,id0037205,$464.70,Agressivo,NaN,NaN,3655.41,13124.58,5579.33,2188.45,511.30,74.618662,80.220031
19998,id0010187,$940.72,Conservador,1416.94,4772.79,3049.52,21053.61,6532.92,NaN,486.77,2.464077,55.905051
19999,id0009375,$56.39,Moderado,812.14,5461.14,3455.45,28370.73,4468.04,NaN,509.97,8.931671,49.578415