# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

Nomes:

Turma:

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por grupo)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 14/04/2023;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [12]:
# Pacotes gerados pelos alunos para testar os pacotes e carregar os arquivos: 

import Module
from Module import inv1, inv2, cadastro

# Pacotes recomendados pelo professor: 

import pandas as pd
import datetime as dt

In [13]:
div = 50 * '-'

print(div,
      'Planilha: cadastro: ',
      f'len: {len(cadastro)}',
      f'Colunas : {list(cadastro.columns)}',
      div,
      'Planilha: inv1: ',
      f'len: {len(inv1)}',
      f'Colunas : {list(inv1.columns)}',
      div,
      'Planilha: inv2: ',
      f'len: {len(inv2)}',
      f'Colunas : {list(inv2.columns)}',
      div,
      sep = '\n'
      )

--------------------------------------------------
Planilha: cadastro:
len: 38754
Colunas : ['id', 'Nome', 'Sexo', 'Nasc', 'Idade', 'Email', 'Lat_long', 'Job', 'Estado']
--------------------------------------------------
Planilha: inv1:
len: 20000
Colunas : ['id', 'Salario', 'Perfil', 'Ativo01', 'Ativo02', 'Ativo03', 'Ativo04', 'Ativo05', 'Ativo06', 'Ativo07', 'Nota1', 'Nota2']
--------------------------------------------------
Planilha: inv2:
len: 24052
Colunas : ['id', 'Salario', 'Perfil', 'Ativo01', 'Ativo02', 'Ativo03', 'Ativo04', 'Ativo05', 'Ativo06', 'Ativo07', 'Nota1', 'Nota2']
--------------------------------------------------

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [36]:
pd.concat([
    inv1, inv2
]).drop_duplicates()['id'].drop_duplicates()

0        id0011529
1        id0030644
2        id0019311
3        id0036705
4        id0001368
           ...
24046    id0012328
24048    id0005515
24049    id0009893
24050    id0016100
24051    id0027880
Name: id, Length: 38754, dtype: object

In [29]:
inv1.merge(inv2, on = ['id'])

,id,Salario_x,Perfil_x,Ativo01_x,Ativo02_x,Ativo03_x,Ativo04_x,Ativo05_x,Ativo06_x,Ativo07_x,...,Perfil_y,Ativo01_y,Ativo02_y,Ativo03_y,Ativo04_y,Ativo05_y,Ativo06_y,Ativo07_y,Nota1_y,Nota2_y
0,id0018389,$91446.58,Moderado,NaN,5131.99,NaN,8338.60,5369.09,NaN,511.98,...,Moderado,NaN,5131.99,NaN,8338.60,5369.09,NaN,511.98,71.928637,82.871795
1,id0011459,$20426.40,Moderado,NaN,NaN,3467.53,NaN,4714.69,NaN,516.27,...,Moderado,NaN,NaN,3467.53,NaN,4714.69,NaN,516.27,63.416347,65.454983
2,id0011609,$31.25,Conservador,NaN,5288.07,2581.22,27192.44,4934.33,2810.08,509.61,...,Conservador,NaN,5288.07,2581.22,27192.44,4934.33,2810.08,509.61,NaN,28.415307
3,id0013336,$34927.20,Moderado,938.99,4673.62,NaN,13147.36,5012.77,2368.65,504.17,...,Moderado,938.99,4673.62,NaN,13147.36,5012.77,2368.65,504.17,55.646136,97.073032
4,id0027122,$4.20,Moderado,975.91,5539.78,3290.69,5646.23,4160.40,NaN,500.26,...,Moderado,975.91,5539.78,3290.69,5646.23,4160.40,NaN,500.26,91.761610,68.919716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,id0003352,$91304.39,Agressivo,NaN,4887.06,2788.90,NaN,5931.34,2255.84,506.13,...,Agressivo,NaN,4887.06,2788.90,NaN,5931.34,2255.84,506.13,36.289426,9.969526
5294,id0032956,$75539.18,Conservador,1027.51,NaN,2870.44,13506.49,4123.50,NaN,480.58,...,Conservador,1027.51,NaN,2870.44,13506.49,4123.50,NaN,480.58,86.942316,23.191244
5295,id0014897,$545.54,Agressivo,956.24,4726.29,NaN,5649.69,4667.08,2152.97,507.61,...,Agressivo,956.24,4726.29,NaN,5649.69,4667.08,2152.97,507.61,66.643933,83.859216
5296,id0037205,$464.70,Agressivo,NaN,NaN,3655.41,13124.58,5579.33,2188.45,511.30,...,Agressivo,NaN,NaN,3655.41,13124.58,5579.33,2188.45,511.30,74.618662,80.220031
5297,id0010187,$940.72,Conservador,1416.94,4772.79,3049.52,21053.61,6532.92,NaN,486.77,...,Conservador,1416.94,4772.79,3049.52,21053.61,6532.92,NaN,486.77,2.464077,55.905051

In [28]:
inv2.merge(inv1, on = ['id'])

,id,Salario_x,Perfil_x,Ativo01_x,Ativo02_x,Ativo03_x,Ativo04_x,Ativo05_x,Ativo06_x,Ativo07_x,...,Perfil_y,Ativo01_y,Ativo02_y,Ativo03_y,Ativo04_y,Ativo05_y,Ativo06_y,Ativo07_y,Nota1_y,Nota2_y
0,id0005674,$3044.00,Agressivo,1353.76,5827.28,2998.24,16341.70,4712.65,2007.44,515.10,...,Agressivo,1353.76,5827.28,2998.24,16341.70,4712.65,2007.44,515.10,50.658089,65.660735
1,id0011594,$31822.77,Conservador,1180.98,4754.37,2812.15,23236.91,6496.04,2122.96,492.85,...,Conservador,1180.98,4754.37,2812.15,23236.91,6496.04,2122.96,492.85,77.736310,83.329892
2,id0031291,$94587.36,Conservador,920.53,NaN,2648.26,34236.97,NaN,2120.40,499.62,...,Conservador,920.53,NaN,2648.26,34236.97,NaN,2120.40,499.62,28.452598,66.494563
3,id0035908,$4.21,Moderado,NaN,4923.40,3286.63,NaN,6236.77,NaN,501.47,...,Moderado,NaN,4923.40,3286.63,NaN,6236.77,NaN,501.47,42.707011,29.531693
4,id0001203,$66.79,Moderado,1232.95,4898.12,2736.88,22381.06,4985.60,2399.63,499.21,...,Moderado,1232.95,4898.12,2736.88,22381.06,4985.60,2399.63,499.21,16.489720,37.698107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,id0000356,$45853.46,Conservador,1095.21,5097.29,2834.37,9025.94,4941.40,NaN,490.76,...,Conservador,1095.21,5097.29,2834.37,9025.94,4941.40,NaN,490.76,4.296279,NaN
5294,id0025347,$60.19,Conservador,1370.75,5213.54,3100.58,17811.89,4246.30,2104.75,504.16,...,Conservador,1370.75,5213.54,3100.58,17811.89,4246.30,2104.75,504.16,35.242832,82.560410
5295,id0017756,$7063.87,Moderado,1149.72,4518.12,2635.30,NaN,5516.03,2035.20,496.85,...,Moderado,1149.72,4518.12,2635.30,NaN,5516.03,2035.20,496.85,18.636192,11.002152
5296,id0009954,$42769.48,Conservador,1331.95,5269.59,3038.98,15434.35,6431.61,NaN,504.14,...,Conservador,1331.95,5269.59,3038.98,15434.35,6431.61,NaN,504.14,44.469574,27.686979
5297,id0018222,$615.87,Conservador,933.65,5741.80,4031.59,6336.84,NaN,NaN,486.19,...,Conservador,933.65,5741.80,4031.59,6336.84,NaN,NaN,486.19,NaN,34.151046

In [26]:
inv1

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,id0027243,$334.62,Conservador,1406.60,5314.55,3166.72,22356.01,4993.03,NaN,508.21,NaN,81.009106
19996,id0027322,$281.18,Agressivo,857.37,6045.98,3052.01,11084.71,4678.42,NaN,506.94,48.641983,NaN
19997,id0037205,$464.70,Agressivo,NaN,NaN,3655.41,13124.58,5579.33,2188.45,511.30,74.618662,80.220031
19998,id0010187,$940.72,Conservador,1416.94,4772.79,3049.52,21053.61,6532.92,NaN,486.77,2.464077,55.905051
19999,id0009375,$56.39,Moderado,812.14,5461.14,3455.45,28370.73,4468.04,NaN,509.97,8.931671,49.578415

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?